RootNode {
    element: [
        Text(
            TextManyNode {
                text_element: [
                    TextWord(
                        TextWordNode {
                            text: "#",
                            span: 0..1,
                        },
                    ),
                    TextWord(
                        TextWordNode {
                            text: "simple",
                            span: 2..8,
                        },
                    ),
                    TextWord(
                        TextWordNode {
                            text: "if",
                            span: 9..11,
                        },
                    ),
                    TextWord(
                        TextWordNode {
                            text: "elements",
                            span: 12..20,
                        },
                    ),
                ],
                span: 0..20,
            },
        ),
    ],
    span: 0..20,
}