Ok(
    DejavuRoot {
        statements: [
            Text(
                DejavuText {
                    head: "",
                    body: "# simple if elements\n",
                    tail: "",
                    range: 0..0,
                },
            ),
            Branches(
                DejavuBranches {
                    branches: [],
                    default: None,
                },
            ),
            Text(
                DejavuText {
                    head: "\n\n",
                    body: "# if else element\n# simple if elements\n",
                    tail: "",
                    range: 0..0,
                },
            ),
            Branches(
                DejavuBranches {
                    branches: [
                        DejavuConditional {
                            condition: DejavuExpression,
                            body: [],
                        },
                    ],
                    default: None,
                },
            ),
            Text(
                DejavuText {
                    head: "\n\n\n",
                    body: "# if-else-if element\n# simple if elements\n",
                    tail: "",
                    range: 0..0,
                },
            ),
            Branches(
                DejavuBranches {
                    branches: [
                        DejavuConditional {
                            condition: DejavuExpression,
                            body: [],
                        },
                    ],
                    default: None,
                },
            ),
            Text(
                DejavuText {
                    head: "\n\n",
                    body: "# if-else-if element\n# simple if elements\n",
                    tail: "",
                    range: 0..0,
                },
            ),
            Branches(
                DejavuBranches {
                    branches: [
                        DejavuConditional {
                            condition: DejavuExpression,
                            body: [],
                        },
                        DejavuConditional {
                            condition: DejavuExpression,
                            body: [],
                        },
                    ],
                    default: None,
                },
            ),
        ],
    },
)