struct HelloTemplate<'a> {
    name: &'a str,
}

impl<'a> core::fmt::Display for HelloTemplate<'a> {
    #[inline]
    fn fmt(&self, f: &mut core::fmt::Formatter) -> core::fmt::Result {
{% for node in self.statements %}
{{ node }}
{% endfor %}
        Ok(())
    }
}
